:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: #fff;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo .accent {
  color: var(--accent-color);
}

.logo .main-color {
  color: #000000;
}

main > section .solution {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    background-color: #2F303A;
}


main > section button
 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
}

main > section button:hover,
main > section button:focus {
color: #ffffff;
    background-color: var(--accent-color)
}

#peculiarities {
visibility: hidden;
}

.pros .quality {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*second page*/ 
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  
}
.site-nav .link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.contacts .link {
    color: var(--secondary-text-color);
    text-decoration: none;
}
.contacts .link:focus,
.contacts .link:hover {
  color: var(--accent-color);
}

.contacts .link.current {
  color: var(--accent-color);
}
.buttons {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
list-style-type: none;
}
.buttons .project-type.current {
  color: #ffffff;
  background-color: var(--accent-color);
}

.buttons .project-type:focus,
.buttons .project-type:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}

.works {
    list-style-type: none;
}
.works .project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.works .project-kind {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.logo .white-color {
  color: #fff;
  background-color: #2F303A;
}
.studio-contacts {
    font-style: normal;
    list-style-type: none;
}
.studio-contacts .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #2F303A;
  text-decoration: none;
}
.studio-contacts .e-mail,
.studio-contacts .cell-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  text-decoration: none;
}
.studio-contacts .e-mail:hover,
.studio-contacts .e-mail:focus,
.studio-contacts .cell-phone:hover,
.studio-contacts .cell-phone:focus,
.studio-contacts .address:hover,
.studio-contacts .address:focus {
  color: var(--accent-color);

}

.end {
    background-color: #2F303A;
}