:root {
      --main-font: 'Roboto', sans-serif;
        --bg-color: #FFFFFF;
        --dark-bg-color: #2F303A;
        --light-bg-color: #f5f4fa;
        --text-color: #212121;
        --light-text-color: #757575;
        --accent-text-color: #FFFFFF;
        --footer-text-color: rgba(255, 255, 255, 0.6);
        --accent-color: #2196F3;
        --active-color: #188CE8;
        --header-border-color: #ECECEC;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}


  	.web {
  	  font-family: 'Raleway', sans-serif;
  	  font-weight: 700;
  	  font-size: 26px;
  	  color: var(--accent-color);
        line-height: 1.17;
          letter-spacing: 0.03em;
          text-decoration: none;
}

.studio {
  color: var(--text-color);


.solution {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--accent-text-color);
    background-color:var(--dark-bg-color);
}


main > section button
 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--text-color);
    background-color:var(--light-bg-color);
    cursor: pointer;
}

main > section button:hover,
main > section button:focus {
color: var(--bg-color);
background-color: var(--accent-color);
}

#peculiarities {
    visibility: hidden;
}

.pros {
        list-style-type: none;
}
.pros .quality {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}
.pros .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
}
.index-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team {
    list-style-type: none;
}

.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    background-color:var(--bg-color);
}
.team-member-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
    background-color:var(--bg-color);
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
  
}
.link {
    text-decoration: none;
}

.menu-item:focus,
.menu-item:hover,
.main-contact:focus,
.main-contact:hover {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.contacts .link {
    color: var(--light-text-color);
    text-decoration: none;
}
.contacts .link:focus,
.contacts .link:hover {
  color: var(--accent-color);
}

.contacts .link.current {
  color: var(--accent-color);
}
#portfolio {
    visibility:hidden
}

.buttons {
  color: var(--text-color);
  background-color:var(--light-bg-color);
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}
.buttons .project-type.current {
  color:var(--bg-color);
  background-color: var(--accent-color);
}

.buttons .project-type:focus,
.buttons .project-type:hover {
  color:var(--bg-color);
  background-color: var(--accent-color);
}

.works {
    list-style-type: none;
}
.works .project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.works .project-kind {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}
.logo .white-color {
  color:var(--accent-text-color);
  background-color:var(--dark-bg-color);
}
.studio-contacts {
    font-style: normal;
    list-style-type: none;
}
.studio-contacts .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:var(--accent-text-color);
  background-color:var(--dark-bg-color);
  text-decoration: none;
}
.studio-contacts .e-mail,
.studio-contacts .cell-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color)
  background-color: var(--dark-bg-color);
  text-decoration: none;
}
.studio-contacts .e-mail:hover,
.studio-contacts .e-mail:focus,
.studio-contacts .cell-phone:hover,
.studio-contacts .cell-phone:focus,
.studio-contacts .address:hover,
.studio-contacts .address:focus {
  color: var(--accent-color);

}

.end {
    background-color:var(--dark-bg-color);
}